# NOTE: We're only including things that would already be checked in to the repo
# So we're not including things like .tox -- that will never be committed
# We're excluding docs and tests
.git
.github
.mypy_cache
.tyrannosaurus
dist
docs
docker/docker_images_diagram.puml
**/.cmake
**/CMakeFiles
**/.ipynb_checkpoints
tests
venv
.coverage
.dockerignore
.editorconfig
.gitignore


.circleci
.travis.yml
.appveyor.yml
.codeclimate.yml
.coveralls.yml
archive/readthedocs.yml
recipes
azure-pipelines.yml
archive/CONTRIBUTING.md
archive/CHANGELOG.md
archive/.pre-commit-config.yaml
archive/SECURITY.md
archive/.scrutinizer.yml
codemeta.json
archive/CITATION.cff
Vagrantfile
